## 1.

In [1]:
# SQL databases use structured query language (SQL) and have a predefined schema.
#  QL databases are vertically scalable.
# These databases are not suited for hierarchical data storage.
# These databases are best suited for complex queries
# Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

In [2]:
# NoSQL databases have dynamic schemas for unstructured data.
# QL databases are vertically scalable.
# These databases are best suited for hierarchical data storage.
# These databases are not so good for complex queries
# Examples: MongoDB, HBase, Neo4j, Cassandra, etc

## 2.

In [3]:
# Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands
# like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

In [4]:
# CREATE Database Database_Name; 

# DROP DATABASE Database_Name;  
# To remove the existing table from the SQL database.

# Suppose, you want to change the character size of the Last_Namefield of the Student table. To do this, you have to write the following DDL command:
# ALTER TABLE name_of_table ADD column_name column_definition;

# TRUNCATE is another DDL command which deletes or removes all the records from the table
# TRUNCATE TABLE Table_Name;

## 3.

In [5]:
# DML is an abbreviation of Data Manipulation Language. The DML in DBMS is responsible for performing CRUD (Create Read Update and Delete)
# operations on the data of the database table. Data Manipulation Language (DML) allows you to modify the database tables by inserting,
# modifying, and deleting their data.

In [6]:
# Insert command is used to insert data into a table
# Insert into <table_name> (column list) values (column values);

# Delete command is used to delete records from a database table.
#  Delete from <table_name>WHERE condition;

# Update command is used to update existing data within a table.
# UPDATE <table_name> SET column_number =value_number WHERE condition;

## 4.

In [7]:
# Query languages, often known as DQLs or Data Query Languages, are computer languages that are used to make various queries in
# information systems and databases. The Structured Query Language (SQL) is a well-known example. DQL statements are used to query
# the data contained in schema objects.

In [8]:
# The SELECT Statement in SQL is used to retrieve or fetch data from a database. We can fetch either the entire table or according
# to some specified rules. The data returned is stored in a result table. This result table is also called the result set.

In [9]:

""" 
CREATE TABLE Customer(
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(50),
    LastName VARCHAR(50),
    Country VARCHAR(50),
    Age int(2),
  Phone int(10)
);
-- Insert some sample data into the Customers table
INSERT INTO Customer (CustomerID, CustomerName, LastName, Country, Age, Phone)
VALUES (1, 'Shubham', 'Thakur', 'India','23','xxxxxxxxxx'),
       (2, 'Aman ', 'Chopra', 'Australia','21','xxxxxxxxxx'),
       (3, 'Naveen', 'Tulasi', 'Sri lanka','24','xxxxxxxxxx'),
       (4, 'Aditya', 'Arpan', 'Austria','21','xxxxxxxxxx'),
       (5, 'Nishant. Salchichas S.A.', 'Jain', 'Spain','22','xxxxxxxxxx');
       
       """

" \nCREATE TABLE Customer(\n    CustomerID INT PRIMARY KEY,\n    CustomerName VARCHAR(50),\n    LastName VARCHAR(50),\n    Country VARCHAR(50),\n    Age int(2),\n  Phone int(10)\n);\n-- Insert some sample data into the Customers table\nINSERT INTO Customer (CustomerID, CustomerName, LastName, Country, Age, Phone)\nVALUES (1, 'Shubham', 'Thakur', 'India','23','xxxxxxxxxx'),\n       (2, 'Aman ', 'Chopra', 'Australia','21','xxxxxxxxxx'),\n       (3, 'Naveen', 'Tulasi', 'Sri lanka','24','xxxxxxxxxx'),\n       (4, 'Aditya', 'Arpan', 'Austria','21','xxxxxxxxxx'),\n       (5, 'Nishant. Salchichas S.A.', 'Jain', 'Spain','22','xxxxxxxxxx');\n       \n       "

## 5

In [10]:
# A primary key is a unique identifier for each record in a table. 
# A table can have only have one primary key

In [11]:
# A foreign key establishes a relationship between tables by referencing the primary key of another table.
# A table can have multiple foreign keys

## 6.

In [12]:
"""
import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
   user='root', password='password', host='127.0.0.1', database='mydb'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

"""

"\nimport mysql.connector\n\n#establishing the connection\nconn = mysql.connector.connect(\n   user='root', password='password', host='127.0.0.1', database='mydb'\n)\n#Creating a cursor object using the cursor() method\ncursor = conn.cursor()\n\n"

## 7.

In [13]:
# Getting Data (From, Join)
# Row Filter (Where)
# Grouping (Group by)
# Group Filter (Having)
# Return Expressions (Select)
# Order & Paging (Order by & Limit / Offset)