## 1.

In [13]:
# Encoding is the process of converting the data or a given sequence of characters, symbols, alphabets etc., into a specified format,
# for the secured transmission of data.

In [14]:
#  Encoding is necessary to convert the categorical values of the features into numerical ones, So the machine can learn from those data and gives the right model.
# This process of converting categorical data into numerical data is called Encoding. There are two most popular types of encoding, Nominal Encoding.

In [15]:
# Encoding enables computers to process and transmit information that is not numerical-based, such as text, audio, and video

## 2.

In [16]:
# When we have a feature where variables are just names and there is no order or rank to this variable's feature.
# For example: City of person lives in, Gender of person, Marital Status, etc… In the above example, We do not have any order or rank, or sequence.

## 3.

In [17]:
# When we have a feature where variables are just names and there is no order or rank to this variable's feature. 
# For example: City of person lives in, Gender of person, Marital Status, etc… In the above example, We do not have any order or rank, or sequence.

In [18]:
#  one-hot encoding comes in help because it transforms categorical data into numerical; in other words: it transforms strings into numbers so
# that we can apply our Machine Learning algorithms without any problems.

In [19]:
# Exmaple:

import pandas as pd
import numpy as np
import seaborn as sns
df=sns.load_dataset("iris")

# we are ding one hot encoding for species.

print(df['species'].value_counts(),df['species'].count(),df['species'].unique())
print(df['species'].count())
print(df['species'].unique())

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64 150 ['setosa' 'versicolor' 'virginica']
150
['setosa' 'versicolor' 'virginica']

In [20]:
one_hot_encoded_data=pd.get_dummies(df,columns=['species'])
print(one_hot_encoded_data)

     sepal_length  sepal_width  petal_length  petal_width  species_setosa  \
0             5.1          3.5           1.4          0.2               1
1             4.9          3.0           1.4          0.2               1
2             4.7          3.2           1.3          0.2               1
3             4.6          3.1           1.5          0.2               1
4             5.0          3.6           1.4          0.2               1
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3               0
146           6.3          2.5           5.0          1.9               0
147           6.5          3.0           5.2          2.0               0
148           6.2          3.4           5.4          2.3               0
149           5.9          3.0           5.1          1.8               0

     species_versicolor  species_virginica
0                     0                  0
1                     0                  0
2                     0                  0
3                     0                  0
4                     0                  0
..                  ...                ...
145                   0                  1
146                   0                  1
147                   0                  1
148                   0                  1
149                   0                  1

[150 rows x 7 columns]

## 4.

In [21]:
# we use label  encoding.

# Because the label encoding convert the  all categorical data into numerical or some label values.

## 5.

In [22]:
# Nominal encoding: In nominal encoding onlt 2 extra columns are created.
#Ordina encoding : in ordinal encoding how many diffrent feature are available in thae column tat much extra columns are creted.

## 6.

In [23]:
# we use nominal encodig technique.

# because in animal,species,habit and diet all tge coiulmns are like a group.we cant 
# make any rank in that.

## 7.

In [24]:
# In this only 2 are the categorical colummns.

# gender: for gender we can use binary encoding because it has only 2 feature.

# contract type: for contract type we can use ordinal encoding technique technique.
#                because it will be like 1,2,3... years. so we can make itlike a rank who did more years or experiene it has the high rank.