In [12]:
import pandas as pd

In [13]:
course_name=["data Science","Machine Learning","big Data","Dat Engineer"]
duration=[2,3,6,4]

In [14]:
df=pd.DataFrame(data={"course_name":course_name,"duration":duration})

In [15]:
2+2

4

In [16]:
df

        course_name  duration
0      data Science         2
1  Machine Learning         3
2          big Data         6
3      Dat Engineer         4

## 1.

In [18]:
df.iloc[[1]]

        course_name  duration
1  Machine Learning         3

## 2.

In [ ]:
## iloc:which represent the only integer part of index.
##loc:which is represent the integer and object in the index.

## 3.

In [19]:
new_df=df.reindex([3,0,1,2])

In [20]:
new_df

        course_name  duration
3      Dat Engineer         4
0      data Science         2
1  Machine Learning         3
2          big Data         6

In [22]:
new_df.loc[[2]]

  course_name  duration
2    big Data         6

In [24]:
new_df.iloc[[2]]

        course_name  duration
1  Machine Learning         3

In [ ]:
## yes i understand loc is working under the index of what we assign.
## iloc is working under basic index system, it does not depend on index what we given.

## 4.

In [25]:
import pandas as pd

In [36]:
import numpy as np
columns=['column_1','column_2','column_3','column_4','column_5','column_6']
indices=[1,2,3,4,5,6]
df1=pd.DataFrame(np.random.rand(6,6),columns=columns,index=indices)

In [37]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.059526  0.849092  0.224670  0.739274  0.292980  0.155391
2  0.480797  0.481987  0.563552  0.793029  0.561318  0.202097
3  0.629422  0.082119  0.482804  0.617288  0.929774  0.499257
4  0.101551  0.398649  0.082476  0.308678  0.070083  0.027512
5  0.805881  0.606764  0.861323  0.765371  0.926240  0.637266
6  0.391931  0.617874  0.484739  0.916073  0.628052  0.677900

In [54]:
df1.mean()

column_1    0.411518
column_2    0.506081
column_3    0.449927
column_4    0.689952
column_5    0.568074
column_6    0.366571
dtype: float64

In [56]:
df1["column_2"].std()

0.2577428628331141

## 5.

In [61]:
df1["column_2"].loc[:1]="A"

In [62]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.059526         A  0.224670  0.739274  0.292980  0.155391
2  0.480797         A  0.563552  0.793029  0.561318  0.202097
3  0.629422  0.082119  0.482804  0.617288  0.929774  0.499257
4  0.101551  0.398649  0.082476  0.308678  0.070083  0.027512
5  0.805881  0.606764  0.861323  0.765371  0.926240  0.637266
6  0.391931  0.617874  0.484739  0.916073  0.628052  0.677900

In [70]:
df1["column_2"].mean()

TypeError: can only concatenate str (not "float") to str

## 6.

In [ ]:
## Windows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value.
## The group by aggregate function can be used to partition and group the entire data frame by some column.
## We can specify the column name in the parameter of the pandas.

In [ ]:
## Rolling window: Generic fixed or variable sliding window over the values.

## Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.

## Expanding window: Accumulating window over the values.

## Exponentially Weighted window: Accumulating and exponentially weighted window over the values.

## 7.

In [72]:
pd.date_range(start="2023-5-1",end="2023-5-31")

DatetimeIndex(['2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04',
               '2023-05-05', '2023-05-06', '2023-05-07', '2023-05-08',
               '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12',
               '2023-05-13', '2023-05-14', '2023-05-15', '2023-05-16',
               '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-20',
               '2023-05-21', '2023-05-22', '2023-05-23', '2023-05-24',
               '2023-05-25', '2023-05-26', '2023-05-27', '2023-05-28',
               '2023-05-29', '2023-05-30', '2023-05-31'],
              dtype='datetime64[ns]', freq='D')

## 8.

In [1]:
from datetime import date

In [4]:
def days(date1,date2):
    return (date2-date1).days

In [5]:
date1=date(2018,12,13)
date2=date(2019,2,25)
print(days(date1,date2),"days")

74 days

## 9.

## 11.

In [10]:
import pandas as pd

In [11]:
A={"Students ID":[1,2,3,4,5,6,7,8,9,10],
  "Test Score":[85,90,80,75,85,82,78,85,90,85]}

In [13]:
df=pd.DataFrame(A)

In [14]:
df

   Students ID  Test Score
0            1          85
1            2          90
2            3          80
3            4          75
4            5          85
5            6          82
6            7          78
7            8          85
8            9          90
9           10          85

In [16]:
df["Test Score"].mean()

83.5

In [17]:
df["Test Score"].median()

85.0

In [18]:
df["Test Score"].mode()

0    85
Name: Test Score, dtype: int64

In [24]:
dt=pd.DataFrame({"Statistics":["Mean","Median","Mode"]
                 ,"Value":[83.5,82,85.90]})

In [25]:
dt

  Statistics  Value
0       Mean   83.5
1     Median   82.0
2       Mode   85.9