In [1]:
print('hello')

hello

In [2]:
int()

0

In [3]:
print('abcd')

abcd

In [4]:
print('123')

123

In [5]:
age= 21
print('my age is:',age)

('my age is:', 21)

In [9]:
#f is consider as farmatic (fstring)
print(f'my age is:{age}')

my age is:21

In [ ]:
#note In python language we start a index from zero

In [17]:
#format()
name="resauk"
age=20
print('my name is {} and age is {}'.format(name,age))

my name is resauk and age is 20

In [21]:
print("my name is {} nad age is {}".format(name,age))

my name is mursalin nad age is 21

In [18]:
name="mursalin"
age=21
print("my name is {} and age is {}".format(age,name))

my name is 21 and age is mursalin

In [24]:
#placeholder
print("my name is {firstname} nad age is {firstage}".format(firstname=name,firstage=age))

my name is mursalin nad age is 21

In [12]:
name='mursalin'
age=21
degree='BE'
print('my age is:',age)

TypeError: 'str' object is not callable

In [13]:
print(f'my age is :{age}')

TypeError: 'str' object is not callable

In [14]:
print=("my name is {} and my age is {} with my degree{}".format(name,age,degree))

In [5]:
name='resuak'
age=19
print=("my name is", age)

In [ ]:
## control flow 
## decision making statement

In [25]:
age=10
if age<=18:
    print("you are not eligible to vote")

TypeError: 'str' object is not callable

In [1]:
## if statement
age=18
if age<=18:
    print('you are eligible to vote')

you are eligible to vote

In [13]:
age=17
if age<=18:
    print('you are eligible to vote')

you are eligible to vote

In [15]:
18<18

False

In [17]:
18>18

False

In [18]:
16<17

True

In [19]:
16>17

False

In [ ]:
#:(colen indicate start of the if block)

In [ ]:
input()

In [20]:
namr=input('enter the name')

enter the name mursalin khan

In [22]:
namr

'mursalin khan'

In [26]:
age=int(input('enter your age'))

enter your age 31

In [27]:
age

31

In [28]:
type(input)

method

In [32]:
type(age)

int

In [33]:
type('name')

str

In [6]:
age=int(input('enter the age'))
if age>=18 and age<=45:
        print('you are young blood')

enter the age 22

you are young blood

In [7]:
22>=18

True

In [8]:
22<=45

True

In [11]:
age=int(input('enter the age'))
if age>=18 and age<=45:
        print('you are young blood')
else:
    print('thank you we will let u know')

enter the age 5

thank you we will let u know

In [9]:
age=int(input('enter the age'))
if age>=18 and age<=45:
        print('you are young blood')

enter the age 55

In [12]:
age=int(input('enter the age'))
if age>=18 and age<=45:
        print('you are young blood')
else:
    print('thank you we will let u know')

enter the age 50

thank you we will let u know

In [10]:
age=int(input('enter the age'))
if age>=18 and age<=45:
        print('you are young blood')

enter the age 17

In [9]:
age=int(input('enter the age'))
if age>=18 and age<=45:
         print('you are young blood')

enter the age 17

In [ ]:
## IF ELSE STATEMENT

In [15]:
product=int(input('the product price'))
if product>1000 and product<=1000:
            print('the product price after the discout')
        #wrong

the product price 900

In [11]:
age=int(input('enter the age'))
if age>=18 and age<=45:
         print('you are young blood')
else:
    print('thank you your apllication is rejected')

enter the age 1

thank you your apllication is rejected

In [19]:
product_price=int(input('enter the price'))
if product_price>1000:
    print("the price of the product is {}".format(product_price*0.8))
else:
    print("the price of the product is {}".format(product_price*0.7))

enter the price 10000

the price of the product is 8000.0

In [22]:
int((20/100)*10000)

2000

In [1]:
product_price=int(input('enter the price'))
if product_price>1000:
    print(f"the price of the product is {product_price*0.8}")
else:
    print("the price of the product is {}".format(product_price*0.7))

enter the price 100000

the price of the product is 80000.0

In [ ]:
product_price=int(input('enter the price'))
if product_price>1000:
    print(f"the price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<3000:
    print(f"the price of the product is {product_price*0.7}")
elif product_price>=100 amd product_price<=2000:
    print(f"the price of the product is {product_price*0.6}")
else:
    print("go for coffee")

In [2]:
#camprssion operaters
True==true

NameError: name 'true' is not defined

In [3]:
true==true

NameError: name 'true' is not defined

# loop statement 
## while loop
## fir loop 
## nested loop
## loop control (break,continous,pass)

In [7]:
# whike loop (else)
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("the retirement age")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
the retirement age

In [ ]:
#atm machine
total_amount=1000
while total_amount!=1000:
    print(total_amount)
    total_amount=total_amount+100
else:
    print("put more money bank people")
print("hello all")

# for loop

In [11]:
lst=["mursalin",1,2,3,"khan"]

In [11]:
type(lst)

list

In [12]:
lst[0]

'mursalin'

In [8]:
lst[2]

2

In [12]:
lst

['mursalin', 1, 2, 3, 'khan']

In [14]:
for a in lst:
    print(a)

mursalin
1
2
3
khan

In [ ]:
lst["as",1,2,3,"khan"]

In [15]:
type(lst)

list

In [17]:
lst

['mursalin', 1, 2, 3, 'khan']

In [ ]:
friend_lst=["mursalin","khan","resuak"]

In [22]:
for a in friend_lst:
    print(a)
    if a=="mursalin":
        print("the friend name is mursalin")

NameError: name 'friend_lst' is not defined

In [27]:
fruit='apple'
for x in fruit:
    print(x,end='')

apple

In [24]:
fruit[1]

'p'

### nested loops

In [ ]:
n=7

In [30]:
for i in range(1,9,2):
    print(i)

1
3
5
7

In [36]:
# nested loops
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******